@model MVC_Pekara.Artikli
@using ReportViewerForMvc;

@{
    ViewBag.Title = "Rpt_ArtikalID";
}

<h2>Rpt_ArtikalID</h2>
@using (Html.BeginForm())
{
    <input type="text" name="artikalID" />
    <input type="submit" value="Posalji" />
}

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

<style>
    iframe {
        width: 100%;
        height: 500px;
        border: none;
        overflow-y: auto;
        overflow-x: auto;
    }
</style>
