@{
    ViewBag.Title = "Home Page";

}


<div class="jumbotron">


    <p class="text-center">
   
    <h1>PEKARA</h1>

    </p>


</div>

<div class="row">
    <div class="col-md-3">
       
        <h3>KATEGORIJE</h3>
        <p>
            <a href="/kategorije/index/" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-pencil"></span> Unos kategorije
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>ARTIKLI</h3>
        <p>
            <a href="/artikli/index/" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-pencil"></span> Unos artikla
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>NALOG</h3>
        <p>
            <a href="/Nalog_Stavke/index/" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-pencil"></span> Unos naloga
            </a>
        </p>
    </div>
    <div class="col-md-3">

        <h3>STAMPANJE</h3>
        <p><a href="/ReportMVC/index/" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-print"></span> Stampanje
        </a></p>
        
    </div>
</div>
<style>

    .jumbotron, .btn-lg {
        background: #EEE8AA;
        color: #000;
        border: 1px solid #333;
        box-shadow: 8px 8px 5px #EEE8AA;
        position: sticky;
        top: 80px;
    }
    
        .btn-lg:hover {
            color: #EEE8AA;
        }
</style>

