@using ReportViewerForMvc;
@{
    ViewBag.Title = "Nalog";
}

<h2>Nalog - stavke</h2>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
<style>
    iframe {
        width: 100%;
        height: 500px;
        border: none;
        overflow-y: auto;
        overflow-x: auto;
    }
</style>
