@using ReportViewerForMvc;
@{
    ViewBag.Title = "NalSt";
}

<h2>NalSt</h2>
<button type="button" onclick="location.href='@Url.Action("Report","ReportMVC")'">Report</button>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
